<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3 class="mb-3">Create a new listing</h3>
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data"> 
                <!-- novalidate is bootstrap functionality to invalidate the default browser form validation settings -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="add a catchy title" class="form-control" required>
                    <div class="valid-feedback">Title Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="" cols="30" rows="10" placeholder="description" type="text" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input name="listing[image]" type="text" placeholder="enter image url/Link" class="form-control">
                </div> -->
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" type="file" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid price</div>
                    </div>
                    <div class="mb-3 col-md-7">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Please enter the country name</div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="locaiton" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Bangalore, Karnataka" class="form-control" required>
                    <div class="invalid-feedback">Please enter the location</div>
                </div>
                <button class="btn mb-3" style="background-color: #fe424d !important; color: white; border: none !important;">Add</button>
            </form>
        </div>
    </div>
</body>
